@import '_settings'

$content-width = 1200px
.index
	flex: 1 0
	display: flex
	flex-direction: column
	width: $content-width
	margin: 52px 0 0 0
	align-self: center
	.toolbar
		card()
		position: fixed
		width: $content-width + 24px
		z-index: 100
		top: 52px
		margin-left: -12px

		display flex
		justify-content space-between
		.actions
				display flex
		.new, a.action
			button(crisp-primary)
			line-height 36px
			margin 8px
			padding 0 22px
			height 36px

		.search
			margin-left 16px
			line-height 52px
			vertical-align middle
			i
				vertical-align middle
			input
				input(crisp-primary)

	.list
		card()
		display: flex
		flex-direction: column
		.thead, .tbody .item
			display: flex
			align-items: center
			border-bottom: border-separator()
			flex: 0 0
			color: $clr-primary-text-light
			> :first-child
				padding-left: 32px
			> :last-child
				padding-right: 32px
		.thead
			height: 64px
			font-weight: 600
		.tbody
			display: flex
			flex-direction: column
			position: relative

			.item
				height: 40px
				cursor pointer

				&:hover
					background-color $clr-grey-200
