@import '_settings'
@import '_ui'

.list
	flex 1 0
	display flex
	flex-direction column
	max-width content-width
	margin 36px auto 0
	.toolbar
		position fixed
		width content-width + 24px
		z-index 100
		top nav-height
		margin-left -12px
		card()
		display flex
		justify-content space-between
		.actions
				display flex
		.new
			button(crisp-primary)
			line-height 36px
			margin 8px
			padding 0 22px
			height 36px

		.search
			margin-left 16px
			line-height 52px
			vertical-align middle
			i
				vertical-align middle
			input
				input(crisp-primary)

	table
		card()
		table()
		tr
			cursor pointer

			&:hover
				background-color clr-grey-200
		td, th
			height 32px
