@import '_settings'
@import '_ui'
nav-spacing = 12px
nav-line-height = 0.3em
inner-nav-height = nav-height - nav-spacing * 2 - nav-line-height

nav, #nav
	group()
	box-sizing border-box
	display block
	card()
	z-index 10


	padding 0
	width 100%
	position fixed
	// +below('m')
	// 	position relative

	z-index 100
	overflow hidden
	transition top 0.7s ease-out-back

	// height nav-height + nav-top-buffer
	// @media (min-width: screen-medium-min)
	top 0
	// height nav-height

	.container
		// margin-top nav-height
		margin 0 auto 0

	.toggle
		display block
		+above('m')
			display none
		float right
		font-size 3em
		color crisp-primary

	a:hover, h1:hover
		color crisp-primary

	ul.nav
		font-weight 300
		height nav-height - nav-spacing * 2 - nav-line-height
		margin 0 auto
		max-width 85rem

		li
			display inline
			text-transform uppercase

			line-height nav-height - nav-spacing * 2
			a
				reset-link()
				color clr-primary-text-dark

			&:after
				display inline-block
				content ''
				height .6em
				background-color crisp-primary
				width 3px
				margin 0.05em 1em


			&:last-child:after
				content none

			a:hover
				color crisp-primary
	button
		display inline-block
		position absolute
		top 1.25rem
		right 5rem
	a.settings
		font-size 2rem
		position absolute
		top 0.5em
		right 0.5em
