@import '_settings'

normalize-css()
base()
typography()


body
	background-color clr-grey-100
	display flex
	margin-top 7rem
@import 'nav'

// table
// 	table($condensed: true)
//
// 	tr
// 		cursor pointer
//
	// .number-cell
	// 	text-align right
