@import '_settings'
variables()
normalize-css()
base()
typography()
components()

a
	color $crisp-primary
	text-decoration none

::selection
	color: $clr-white

html, body, #v-app
	margin 0
	height 100%
	overflow hidden

body
	background-color $clr-grey-100

#v-app
	display flex
	flex-direction column

.details
	card()
	width 1200px
	margin 0 auto
	display: flex
	flex-direction: column
	position: relative

.details-edit
	padding-top: 16px
	#save
		button-style(color: $clr-success)

@import 'list'
