:markdown
	# Hilfe
	## Aktivität anlegen

	```
	[DD.MM. ]H[:mm] - [DD.MM. ]H[:mm] BESCHREIBUNG
	```
	Wird kein Startdatum angeben, wird das Datum des angezeigten Tages verwendet.  
	Wird kein Enddatum angegeben, wird das Datum der Startzeit verwendet.  
	
	Beispiele:
	```
	13-15 Aktivität     % Aktivität von 13:00 bis 15:00 des angezeigten Tages
	23 - 07.07. 3:42    % Aktivität von 23:00 des angezeigten Tages bis 3:42 am 7. Juli
	```
	
	### Aktivität mit offenem Ende anlegen
	```
	[DD.MM. ]H[:mm] BESCHREIBUNG    % Beginnend bei Datum
	BESCHREIBUNG                    % Beginnend jetzt
	+                               % Beginnend jetzt und ohne Beschreibung
	```

	### Offene Aktivität beenden oder neue Aktivität mit automatischem Anfang anlegen
	```
	- [DD.MM. ]H[:mm] BESCHREIBUNG  % Endet bei Datum
	- BESCHREIBUNG                  % Endet jetzt
	-                               % Endet jetzt und ohne Beschreibung
	```
	Dieser Befehl verhält sich je nach Kontext unterschiedlich:
	- Existiert eine offene Aktivität (und liegt deren Anfang vor dem angebenen Ende), wird sie mit den angegeben Daten beendet
	- Existiert keine offene Aktivität, wird eine neue Aktivität mit dem Ende der vorhergehenden Aktivität als neuen Anfang angelegt
	- Existiert auch keine vorhergehende Aktivität, wirft dieser Befehl einen Fehler


	## Unterbrechungen
	Unterbrechungen können mit der oben beschriebenen Syntax angelegt werden, indem der Befehl mit einem vorangestellten '!' erteilt wird.
	```
	![DD.MM. ]H[:mm] - H[:mm] BESCHREIBUNG
	```

	## Arbeitszeit
	### Abgeschlossene Arbeitszeit eintragen
	```
	[DD.MM. ]H[:mm] - [DD.MM. ]H[:mm] #work
	```
	Das Datum verhält sich wie bei oben bei Aktivitäten beschrieben.

	### Check In und Check Out
	```
	[DD.MM. ]H[:mm] #checkin
	[DD.MM. ]H[:mm] #checkout
	#checkin                        % Arbeitszeit jetzt beginnen
	#checkout                       % Arbeitszeit jetzt beenden
	```
	Um einen neuen Arbeitsblock zu beginnen, wird der Befehl '#checkin' benutzt, um einen offenen Arbeitsblock zu beenden, wird der Befehl '#checkout' benutzt.
	Wird keine Uhrzeit angeben, wird die aktuelle Uhrzeit benutzt.

