h1 Login
form.login
   table
      tr
         td: label(for='username') Username
         td: input(name='username', type='text')
      tr
         td: label(for='password') Password
         td: input(name='password', type='password')
   button(type='submit') Login
