h2= name

ul.tabs
	li.active: a#details-tab(href='#') Details
	li: a#history-tab(href='#') Historie
	li: a(href='#') Lagerbestand

.tab-content
	#details.active
		include ./item-form
	#history
		table
			for item in history
				tr
					td= item.customerId
					td= item.saleId
					td= item.date
