include ../../mixins/form

form
	p= locals.derp
	+textfield('_id', 'Artikelnummer')
	+textfield('name', 'Name')
	+textfield('productGroupId', 'Produktgruppe')
	+textfield('supplierId', 'Lieferant')
	+textfield('supplierProductId', 'Lieferantennummer')
	+textfield('printerline1', 'Druckzeile 1')
	+textfield('printerline1', 'Druckzeile 2')
	+textfield('cost', 'EK')
	+textfield('sale', 'VK')
	
	button(type='submit') Speichern
