ul.nav
	li: a(href='/products/') Artikel
	li: a(href='/suppliers/') Lieferanten
	li: a(href='/customers/') Kunden
	li: a(href='/sales/') Verkaufshistorie 
	li: a(href='/coupons/') Gutscheine
	li: a(href='/statistics') Statistiken
	//- li: a(href='/inventory') Inventur

button.toggle-cost EK anzeigen
a.settings(href='/settings'): i.fa.fa-cogs
