- var userUrl = '';
if(user)
	- userUrl = '/' + user;

p Check for missing data:<br>
	for entry in totals.warnings.slice(0, 5)
		a(href=userUrl + '/' + entry.replace(/-/g,'/'))= entry
		<br>
	if totals.warnings.length > 5
		= 'and ' + (totals.warnings.length - 5) + ' more'

