@import 'nib'
@import '_settings'

normalize-css()
base()
typography()

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
	box-sizing: border-box

#page-container
	margin 7rem auto 0
	padding 0 2em
	max-width page-width

form.login
	button
		button: green

label
	width: 10em

form table td
	padding: 0.5em

+html5-inputs()
	input()

form .field
	field: right 30em
	label
		padding-right 1em

button
	button()

table
	table($condensed: true)

#subnav
	position fixed
	top 2rem
	width 81rem
	background-color white
	padding 3rem 0 1rem
	border-bottom 1px solid silver
	#actions
		display inline
		a
			button green
			height 3rem
			line-height 3rem
			padding 0 1rem
			width 8rem
		form
			margin-left 1rem
			display inline-block
			position relative
			width 28rem
			label
				position absolute
				line-height 3rem
				left 0.5rem
			input
				input()
				width 100%
				height 3rem
				padding-left 1.5rem
	#pagination
		position absolute
		right 0
		top 3rem
		

#products-list
	margin-top 9rem
