@import 'nib'
@import '_settings'

normalize-css()
base()
typography()

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
	box-sizing: border-box

#page-container
	margin 7rem auto 0
	padding 0 2em
	max-width page-width

form.login
	button
		button: green

label
	width: 10em

form table td
	padding: 0.5em

+html5-inputs()
	input()

select
	input()

form .field
	field: right 30em
	label
		padding-right 1em

button
	button()

table
	table($condensed: true)

	tr
		cursor pointer

	.number-cell
		text-align right

	td, th
		&:not(.renderable)
			display none

.grid
	margin-top 9rem

.tabs
	border-bottom 1px solid silver
	li
		margin 0 1rem -1px 0
		border-radius 3px 3px 0 0
		list-style-type none
		display inline-block
		padding 0
		&.active
			border 1px solid silver
			border-bottom 1px solid white

		&:hover
			background-color silver

		a
			display inline-block
			line-height 2rem
			height 2rem
			padding 0 1rem

.tab-content
	> div
		display none
	> .active
		display initial
