@import 'nib'
@import '_settings'

.pagination
	display inline
	text-align center
	ul

		display inline-block
		border 1px solid silver
		border-radius 2px
		padding 0
		margin 0

		li
			line-height 3rem
			display inline-block
			list-style-property none
			border-left 1px solid silver
			padding 0
			a
				display inline-block
				text-align center
				height 3rem
				width 3rem

				&:hover
					text-decoration none
					background-color lighten(blue,40)
					border-bottom none

		:first-child
			border-left none
